# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/

# IDE
.idea/
*.iml

# Misc
*.log